@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
  background: url("/imgs/fondo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Poppins';
  color: aliceblue;
}


canvas {
  border: 1px solid rgb(0, 0, 0);
}


h1 {
  text-align: center;
  color: white;
}

.logo{
  display:block;
  margin:auto;
  width:500px;
}

.container {
  display:block;
  margin:auto;
}

.start{
  display:block;
  width: 100px;
  margin:auto;
}

.start:hover{
  display:block;
  width: 120px;
  margin:auto;
}

.huellita{
  display:block;
  margin:auto;
  width:200px;
  
}

.huellita:hover{
  display:block;
  margin:auto;
  width:220px;
  
}

.estilo {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items: flex-start;
  justify-items: center;
  text-align: center;
}

.images{
  width: 200px;
}

.fondo{
  background:rgba(0, 0, 0, 0.5) ;
  width: 900px;
  margin: auto;
  border-radius: 20px;
  display: block;
  
}

.pucca {
  justify-items: center;
  text-align: center;
}

