body {
  background: url("./Images/Back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


canvas {
  border: 1px solid rgb(0, 0, 0);
}


h1 {
  text-align: center;
  color: white;
}

.logo{
  display:block;
  margin:auto;
  width:500px;
}

.container {
  display:block;
  margin:auto;
}

